{% extends 'base.html' %}
{% load static %}
{% block title %} 리뷰작성 {% endblock title %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/reviews.css' %}"> 
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock head %}
{% block content %}
<div class="review--write">
  <form action="{% url 'reviews:create' post.pk %}" method ="POST" id="review-form">
    {% csrf_token %}
    <div class='d-flex align-items-center gap-2'>
        <label for="rating">별점:</label>
        <div class="star-rating">
          <input id="star-1" name="rating" type="radio" value="1" />
          <label class="star-label rating--orange" for="star-1" title="1 star"></label>
          <input id="star-2" name="rating" type="radio" value="2" />
          <label class="star-label rating--orange" for="star-2" title="2 stars"></label>
          <input id="star-3" name="rating" type="radio" value="3" />
          <label class="star-label rating--orange" for="star-3" title="3 stars"></label>
          <input id="star-4" name="rating" type="radio" value="4" />
          <label class="star-label rating--orange" for="star-4" title="4 stars"></label>
          <input id="star-5" name="rating" type="radio" value="5" />
          <label class="star-label rating--orange" for="star-5" title="5 stars"></label>
        </div>
      </div>
      {{ review_form.as_p }}
      {{ review_form.media }}
        <input type="submit" value='리뷰작성' class="review--btn">
        <input type="submit" value="뒤로가기" onclick=window.history.back() class="review--btn">
  </form>
</div>
{% endblock content %}
{% block script %}
<script src="https://cdn.ckeditor.com/ckeditor5/34.0.0/classic/ckeditor.js"></script>
<script src="https://cdn.ckeditor.com/ckeditor5/34.0.0/classic/translations/ko.js"></script>
<script>
  ClassicEditor.create( document.querySelector( '#editor' ), {
    language: "ko"
  } );

  const stars = document.querySelectorAll('.star-rating label');
  const ratingInput = document.querySelector('input[name="rating"]');

  ratingInput.value = 5;
  stars.forEach(star => star.classList.add('rating--orange'));

  stars.forEach((star, index) => {
    star.addEventListener('click', () => {
      ratingInput.value = index + 1;
      for (let i = 0; i < stars.length; i++) {
        if (i <= index) {
          stars[i].classList.remove('rating--gray');
          stars[i].classList.add('rating--orange');
        } else {
          stars[i].classList.remove('rating--orange');
          stars[i].classList.add('rating--gray');
        }
      }
    });
  });
</script>
{% endblock script %}
