{% extends 'base.html' %}

{% block title %} 리뷰작성 {% endblock title %}

{% block content %}
  <div>
    <form action="{% url 'reviews:create' post.pk %}">
      {% csrf_token %}
      {{ review_form.as_p }}
      <input type="submit" value='리뷰저장'>
    </form>
  </div>


  <script src="https://cdn.ckeditor.com/ckeditor5/34.0.0/classic/ckeditor.js"></script>
  <script src="https://cdn.ckeditor.com/ckeditor5/34.0.0/classic/translations/ko.js"></script>
  <script>
    ClassicEditor.create( document.querySelector( '#editor' ), {
      language: "ko"
    } );
  </script>
{% endblock content %}
