{% extends "base.html" %}
{% load static %}

{% block content %}

{% if request.user.is_authenticated %}
  <form id="review-likes-form-{{ review.pk }}" data-review-id="{{ review.pk }}">
    {% csrf_token %}
    {% if request.user in review.like_users.all %}
      <button class="btn btn-link text-danger p-0" type="submit">
        <i class="bi bi-hand-thumbs-up-fill" id="review-up"></i>
      </button>
    {% else %}
      <button class="btn btn-link text-danger p-0" type="submit">
        <i class="bi bi-hand-thumbs-up" id="review-up"></i>
      </button>
    {% endif %}
  </form>
{% else %}
  <button class="btn btn-link text-secondary p-0" disabled>
    <i class="bi bi-hand-thumbs-up" id="review-up"></i>
  </button>
{% endif %}
<span id="review-likes-count">{{ review.like_users.all|length }}</span>

{% if request.user.is_authenticated %}
  <form id="review-dislikes-form-{{ review.pk }}" data-review-id="{{ review.pk }}">
    {% csrf_token %}
    {% if request.user in review.dislike_users.all %}
      <button class="btn btn-link text-danger p-0" type="submit">
        <i class="bi bi-hand-thumbs-down-fill" id="review-down"></i>
      </button>
    {% else %}
      <button class="btn btn-link text-danger p-0" type="submit">
        <i class="bi bi-hand-thumbs-down" id="review-down"></i>
      </button>
    {% endif %}
  </form>
{% else %}
  <button class="btn btn-link text-secondary p-0" disabled>
    <i class="bi bi-hand-thumbs-down" id="review-down"></i>
  </button>
{% endif %}
<span id="review-dislikes-count">{{ review.dislike_users.all|length }}</span>


  {% comment %} 리뷰 수정, 삭제 {% endcomment %}
  <div>
    {% if request.user == review.user %}
      <a href="{% url 'reviews:update' review.pk %}">리뷰수정</a>
      <form action="{% url 'reviews:delete' review.pk %}" method="POST">
        {% csrf_token %}
        <input type="submit" value="삭제">
      </form>
    {% endif %}
  </div>
  {% comment %} 프로필 {% endcomment %}
  <div>
    <a href="{% url 'accounts:profile' review.user %}">
      {% if review.user.image %}
        <img src="{{ review.user.image.url }}" alt="">
      {% else %}
      <img src="{% static 'image/profile-none.png' %}" alt="">
      {% endif %}
      <p>{{ review.user}}</p>
    </a>
  </div>

  {% comment %} rating {% endcomment %}
  <div>
    {{ review.rate_to_star }}{{ review.rate_to_empty_star}}
  </div>
  <div>
    {{ review.created_string }}
    <a href="{% url 'reviews:detail' review.pk %}">{{ review.title }}</a>
    {{ review.content|safe }}
  <hr>
  </div>
  
{% endblock content %}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="{% static '/js/reviews_detail.js' %}" type="text/javascript"></script>

{% endblock script %}