{% extends 'base.html' %}

{% block title %} 리뷰수정 {% endblock title %}

{% block style %}
<style>
  .star-rating input[name="rating"] {
    display: none;
  }

  .rating--gray{
    background-image: url("/static/image/mango_icon2.png");
    background-position: -322px -152px;
    width: 28px;
    height: 28px;
  }

  .rating--orange{
    background-image: url("/static/image/mango_icon2.png");
    background-position: -280px -539px;
    width: 28px;
    height: 28px;
  }
</style>

{% endblock style %}

{% block content %}
  <div>
    <form action="{% url 'reviews:update' review.pk %}" method="POST">
      {% csrf_token %}
      <label for="rating">별점:</label>
      <div class="star-rating">
        <input id="star-1" name="rating" type="radio" value="1" />
        <label class="star-label rating--orange" for="star-1" title="1 star"></label>
        <input id="star-2" name="rating" type="radio" value="2" />
        <label class="star-label rating--orange" for="star-2" title="2 stars"></label>
        <input id="star-3" name="rating" type="radio" value="3" />
        <label class="star-label rating--orange" for="star-3" title="3 stars"></label>
        <input id="star-4" name="rating" type="radio" value="4" />
        <label class="star-label rating--orange" for="star-4" title="4 stars"></label>
        <input id="star-5" name="rating" type="radio" value="5" />
        <label class="star-label rating--orange" for="star-5" title="5 stars"></label>
      </div>
      {{ review_form.media }}
      {{ review_form.as_p }}
      <input type="submit" value='리뷰수정'>
    </form>
  </div>


  <script src="https://cdn.ckeditor.com/ckeditor5/34.0.0/classic/ckeditor.js"></script>
  <script src="https://cdn.ckeditor.com/ckeditor5/34.0.0/classic/translations/ko.js"></script>
  <script>
    ClassicEditor.create( document.querySelector( '#editor' ), {
      language: "ko"
    } );

    const stars = document.querySelectorAll('.star-rating label');
    const ratingInput = document.querySelector('input[name="rating"]');
  
    ratingInput.value = 5;
    stars.forEach(star => star.classList.add('rating--orange'));
  
    stars.forEach((star, index) => {
      star.addEventListener('click', () => {
        ratingInput.value = index + 1;
        for (let i = 0; i < stars.length; i++) {
          if (i <= index) {
            stars[i].classList.remove('rating--gray');
            stars[i].classList.add('rating--orange');
          } else {
            stars[i].classList.remove('rating--orange');
            stars[i].classList.add('rating--gray');
          }
        }
      });
    });
  </script>
{% endblock content %}