@font-face {
  font-family: 'SUITE-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

* {
  font-family: 'SUITE-Regular';
  box-sizing: border-box;
}

nav {
  width: 100%;
  z-index: 9999;
  width: 100%;
  height: 120px;
  background-color: #383943;
  padding: 0 20px;
  display: grid;
  grid-template-columns: repeat(20,1fr);
  align-items: center;
}

section {
  padding-bottom: 5rem;
}


/* nav */

.logo--box {
  grid-column: 2 / 4;
}

.logo--img {
  width: 120px;
  height: 120px;
}

.nav--tap {
  grid-column: 4 / 20;
  display: grid;
  grid-template-rows: 30px 90px;
}

.category {
  display: grid;
  grid-template-columns: repeat(6, minmax(max-content, auto));
  align-content: center;
  justify-items: center;
}

.category a {
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
}


.category a:hover {
  color: rgba(245, 118, 8);
}

.nav--accounts {
  margin-left: auto;
  text-align: end;
  font-size: 0.9rem;
  padding-top: 5px;
  padding-right: 50px;
}

.nav--accounts a {
  text-decoration: none;
  color: white;
  margin: 0 10px;
}

/* header */

header {
  width: 100%;
  z-index: 9999;
  width: 100%;
  height: 300px;
  background-color: #383943;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
}

.nav--logo--box {
  text-align: center;
  margin: 0 auto;
}

.nav--logo--img {
  width: 180px;
  height: 180px;
}

.nav--tap--box{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.nav--menu {
  display: flex;
  gap: 15px;
  align-items: center;
}

.nav--menu a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: 600;
  word-break: keep-all;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#reduced-navbar {
  display: none;
}

@media only screen and (max-width: 1140px) {
  #full-navbar {
    display: none;
  }

  #reduced-navbar {
    display: block;
  }
}

@media only screen and (max-width: 768px) {
  .nav--menu a{
    font-size: 12px;
  }
}

@media only screen and (max-width: 768px) {
  .nav--logo--img{
    width: 150px;
    height: 150px;
  }
}

/* menu */

menu {
  position: fixed;
  top: -250px;
  left: 0;
  width: 100%;
  transition: top 0.5s;
  width: 100%;
  height: 80px;
  background-color: #383943ae;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  margin:0;
}

.menu--logo--box {
  margin-right: 20px;
}

.menu--logo--img {
  height: 100px;
}


/* search */
.search {
  width: 100%;
}

.search--box {
  font-size: 1.2rem;
  font-weight: 400;
  width: 400px;
  background: #fff;
  height: 40px;
  border-radius: 60px;
  overflow: hidden;
  position: relative;
  margin-right: 20px;
}

.search--box:focus-within {
  border: 2px solid rgba(245, 118, 8);
}

.search input {
  word-break: break-all;
  width: 300px;
  height: 40px;
  border: none;
  background: white;
  font-size: 1.2rem;
  color: #333;
  line-height: 40px;
  outline: 0;
  letter-spacing: -0.03em;
}

.search input:active {
  background-color: white;
}

.search--btn {
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  outline: 0;
  cursor: pointer;
  background: #f0f0f0;
  color: #555;
  height: 40px;
  width: 60px;
}

.search--btn i {
  font-size: 20px;
}

.search--btn:hover {
  background: rgba(245, 118, 8);
  color: white;
}

input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  width: 15px; 
  height: 15px; 
  background: url("/static/image/cross-out.svg") center center no-repeat;
  cursor: pointer;
}


.menu--accounts {
  height: 100%;
  display: flex;
  align-items: center;
}

.profile--image {
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 45px;
  overflow: hidden;
  padding: 0;
  border: none;
  background-color: rgba(244, 165, 96, 0);
}

.profile {
  width: 50px;
  height: 50px;
}

#scrollButton {
  background-color: rgba(245, 118, 8);
  color: white;
  position: fixed;
  right: 20px;
  bottom: 20px;
  transition: transform 0.3s;
  border: none;
  border-radius: 40px;
  width: 40px;
  height: 40px;
  font-size: 18px;
  padding-top: 5px;
  z-index: 9999;
}

#scrollButton.go-up {
  transform: rotate(180deg);
}

#scrollButton.go-down {
  transform: none;
}
.select2 {
  width: 200px !important;
}
.select2-selection {
  width: 200px;
}
.selection {
  display: block;
  width: 200px;
}


/* thema */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  width:700px !important; 
  margin: 5% auto;
}

.category--box {
  border-top: 1px solid #383943;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 100%;
  flex-wrap: wrap;
}

.category--box__category {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  color: #626478c7;
  justify-content: center;
  align-items: center;
  width: 150px;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
  transition: all 0.05s ease;
}

.category--box__category.selected {
  padding: 5px;
  border: 2px solid rgba(182, 169, 255, 0.6);
  border-radius: 10px;
  transform: scale(1.01);
  color: #383943;
  text-shadow: none;
}

.category-icon.selected {
  transform: scale(1.1);
}

.category--box__category:hover {
  background-color: lightgray;
}

.nature--box {
  border-top: 1px solid #383943;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 100%;
  flex-wrap: wrap;
}

.nature {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  color: #626478c7;
  justify-content: center;
  align-items: center;
  width: 100px;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
  transition: all 0.05s ease;
}

.nature.selected {
  padding: 5px;
  border: 2px solid rgba(182, 169, 255, 0.6);
  border-radius: 10px;
  transform: scale(1.01);
  color: #383943;
  text-shadow: none;
}

.nature-icon.selected {
  transform: scale(1.1);
}

.nature:hover {
  background-color: lightgray;
}

.facility--box {
  border-top: 1px solid #383943;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 100%;
  flex-wrap: wrap;
}

.facility {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  color: #626478c7;
  justify-content: center;
  align-items: center;
  width: 100px;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
  transition: all 0.05s ease;
}

.facility.selected {
  padding: 5px;
  border: 2px solid rgba(182, 169, 255, 0.6);
  border-radius: 10px;
  transform: scale(1.01);
  color: #383943;
  text-shadow: none;
}

.facility-icon.selected {
  transform: scale(1.1);
}

.facility:hover {
  background-color: lightgray;
}

.close, .close2 {
  margin-left: auto;
  -webkit-appearance: none;
  width: 20px; height: 20px; 
  background: url("/static/image/cross-out.svg") center center no-repeat;
  cursor: pointer;
}

.theme--title {
  font-size: 25px;
  font-weight: 600;
  color: rgba(245, 118, 8);
  text-align: center;
}

.theme-sub {
  font-size: 18px;
  color: #888;
  font-weight: normal;
}

.theme--cate {
  border: 1px solid #383943;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.theme--cate p {
  padding: 10px;
  display: flex;
  align-items: center;
  margin-bottom: 0;
  font-size: 15px;
  background-color: #383943;
  border: 1px solid #383943;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: white;
}

#submitBtn, #submitBtn2 {
  border: none;
  font-weight: 600;
  background-color: rgba(245, 118, 8);
  color: white;
  font-size: 25px;
  border-radius: 10px;
}

#submitBtn:hover, #submitBtn2:hover {
  background-color: #fff0;
  color: rgba(245, 118, 8);
}

.dropdown-item {
  font-weight: 400 !important;
  color: black !important;
  text-align: inherit !important;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent !important;
  border: 0;
}

.sadman {
  width: 200px;
  height: 200px;
  text-align: center;
  font-size: 150px;
}

.calendar--profile {
  text-decoration: none;
  color: rgba(245, 118, 8);
  margin-left: 20px;
  font-weight: 600;
  white-space: nowrap;
}

.schedule--plus {
  font-weight: 600;
  margin-bottom: 0;
  margin-right: 10px;
  font-size: 18px;
}

.schedule--list a {
  text-decoration: none;
  display: block;
  color: black;
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.schedule--list {
  display: flex;
  height: 20px;
}

.schedule--list span {
  margin: 0 5px;
  text-overflow: ellipsis;
}

.calendar--btn {
  border: none;
  background-color: #fff0;
  color: rgba(245, 118, 8);
  font-weight: 600;
}