
* {
  font-family: 'Noto Sans KR', sans-serif;
}

.salespage {
  width: 80%;
  margin: auto;
}

.item--container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4,1fr);
}

.item--card {
  margin: 0;
  padding: 0;
  width: 272.5px;
  margin-right: 30px;
  margin-bottom: 60px;
}

.link {
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: black;
  vertical-align: middle;
}

.item--img--box {
  border-radius: 10px;
  overflow: hidden;
  height: 270px;
  border: 1px solid #efefef;
  line-height: 1.25;
  width: 270px;
}

.item--img {
  width: 270px;
  height: 270px;
}

.item--title {
  margin-bottom: 10px;
  font-size: 0.75rem;
}

.item--discount {
  color: red;
  font-weight: 700;
}

.item--txt {
  padding-top: 15px;
  width: 100%;
  height: 128px;
}

.item--name {
  font-size: 0.9rem;
  font-weight: 400;
  height: 32px;
  margin-bottom: 10px;
}

.name--sub {
  height: 20px;
}

.pay {
  height: 45.8px;
  display:flex;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #efefef;
}

.item--pay {
  display: flex;
  flex-direction: column;
}

.cuspay {
  font-size: 0.8rem;
  color: rgb(190, 190, 190);
  text-decoration: line-through;
  margin-left: auto;
  margin-bottom: 0;
}

.salepay {
  font-weight: 600;
  margin-bottom: 0;
}

.plus {
  text-decoration: none;
  color: #07554C;
  font-weight: 600;
}

.salestitle {
  text-align: center;
  font-size: 38px; 
  font-weight: 600;
  margin: 50px 0px; 
}

.salescate {
  padding-right: 25px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7,1fr);
  margin-bottom: 100px;
  gap: 10px;
  white-space: nowrap;
}

.salescate a {
  padding: 10px;
}

.allcate {
  text-decoration: none;
  font-size: 13.5px;
  min-width: 160px;
  width: 100%;
  color: white;
  border: 1px solid #97caad;
  background-color: #97caad;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cate--item {
  min-width: 160px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #efefef;
  vertical-align: middle;
}

.cate--item a {
  text-decoration: none;
  font-size: 13.5px;
  width: 100%;
  color: black;
  font-weight: 600;
  text-align: center;
}