{% extends 'base.html' %} 
{% block title %}Password{% endblock title %} 
{% load static %}
{% block head %}
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/accounts.css' %}">  
{% endblock head %}
{% block content %}
<div class="accounts--box">
  <p class="accounts--title">비밀번호 변경</p>
  <form action="{% url 'accounts:change_password' %}" method="POST" enctype="multipart/form-data" onsubmit="finish(event)">
    {% csrf_token %}
    <p>{{ form.old_password }}</p>
    <p>{{ form.new_password1 }}</p>
    <p>{{ form.new_password2 }}</p>
    <div class="btn--box">
      <input type="submit" value="저장" class="accounts--btn">
      <input type="button" value="뒤로가기"  class="accounts--btn" onclick="window.history.back()">
    </div>
  </form>
</div>
{% endblock content %}
{% block script %}
<script>
  function finish(event) {
    event.preventDefault(); 
    alert("비밀번호가 성공적으로 변경되었습니다.");
    
    var form = event.target;
    form.submit();
  }
</script>
{% endblock script %}
