{% extends 'base.html' %} 
{% block title %}캠핑가조 : 비밀번호 변경{% endblock title %} 
{% block style %}{% endblock style %}
{% block head %}{% endblock head %}
{% block content %}
<h4>비밀번호 변경</h4>
<form
  action="{% url 'accounts:change_password' %}"
  method="post"
  enctype="multipart/form-data"
>
  {% csrf_token %} {{ form.as_p }}
  <div class="justify-content-around"></div>
  <input type="submit" value="변경" />
</form>
<input type="submit" value="뒤로가기" onclick="window.history.back()" />
{% endblock content %}
{% block script %}{% endblock script %}