{% extends 'base.html' %} 
{% block title %}캠핑가조 : 로그인{% endblock title %} 
{% block style %}{% endblock style %}
{% block head %}{% endblock head %}
{% block content %}
<h4>로그인</h4>
<form action="{% url 'accounts:login' %}" method="post">
  {% csrf_token %} ID
  <input type="text" class="form-control" name="username" id="username" />
  비밀번호
  <input
    type="password"
    class="form-control"
    name="password"
    id="password"
  />
  <input type="submit" value="로그인" />
</form>
<a type="button" href="{% url 'accounts:signup' %}">회원가입</a>
{% load socialaccount %}
<a href="{% provider_login_url 'kakao' method='oauth2' %}">
  카카오톡 회원가입
</a>
<a href="{% provider_login_url 'google' method='oauth2' %}">
  구글 회원가입
</a>
<input type="submit" value="뒤로가기" onclick="window.history.back()" />
{% endblock content %}
{% block script %}{% endblock script %}