{% extends 'base.html' %} 
{% block title %}Profile{% endblock title %} 
{% load static %}
{% block head %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">  
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

{% endblock head %}

{% block content %}
  <div class="profile--container">
    
    {% comment %} 탭 {% endcomment %}
    <div class="profile--content">
      <input type="radio" name="tabmenu" id="tab01" checked>
      <label for="tab01">Profile</label>
      <input type="radio" name="tabmenu" id="tab02">
      <label for="tab02">Content</label>
      {% if person == request.user %}
        <input type="radio" name="tabmenu" id="tab03">
        <label for="tab03"><i class="bi bi-calendar-week"></i></label>
      
        <input type="radio" name="tabmenu" id="tab04">
        <label for="tab04">♥</label>
      {% endif %}

      {% comment %} 첫번째 탭 {% endcomment %}
      <div class="profile--card card1">
        <div class="box1">
          <div class="profile--card--left">
            <p>이름 : {{ person.last_name }}</p>
            <p>이메일 : {{ person.email }}</p>
            <p>선호지역 : {{ person.region }}</p>
            {% if person == request.user %}
              <p>
                주소 : {{ person.address }}
                <a data-toggle="tooltip" class="tip--btn" title="안심하세요.&#10;주소는 본인에게만 나타납니다."><i class="bi bi-info-circle"></i></a>
              </p>
            {% endif %}
            <div class="d-flex gap-3">
                <p>팔로잉 :<button type="button" class="profile--card--btn" data-bs-toggle="modal" data-bs-target="#followingsModal"><p id="followings-count">{{ person.followings.all|length }}</p></button></p>
                <p>팔로워 :<button type="button" class="profile--card--btn" data-bs-toggle="modal" data-bs-target="#followersModal"><p id="followers-count">{{ person.followers.all|length }}</p></button></p>
            </div>
            {% if request.user != person %}
              <form id="follow-form" data-user-id="{{ person.pk }}" data-username="{{ person.username }}" action="{% url 'accounts:follow' person.pk %}" method="post">
                {% csrf_token %} 
                  {% if request.user in person.followers.all %}
                  <input class="profile--followbtn" type="submit" value="Unfollow">
                  {% else %}
                    {% if request.user.is_authenticated %}
                      <input class="profile--followbtn" type="submit" value="Follow">
                    {% else %}
                      <input class="profile--followbtn" type="submit" value="Follow" disabled>
                    {% endif %}
                {% endif %}
              </form>
            {% else %}
              <a href="{% url 'schedules:calendar' %}" class="profile--followbtn"><i class="bi bi-calendar-plus"></i></a>
            {% endif %}
          </div>


          {% comment %} 첫번째 탭 오른쪽 {% endcomment %}
          <div class="profile--card--right">
            {% if person.is_staff %}
              {% if person == request.user %}
                <a href="{% url 'posts:create' %}" class="profile--card--btn" >Post+</a>
              {% endif %}
            {% endif %}
            <div class="profile--imgbox">
              {% if person.image %}
                <img src="{{ person.image.url }}" alt="image"/>
              {% else %}
                <img src="{% static 'image/profile-none.png' %}" alt="blank-profile-image"/>
              {% endif %} 
            </div>
            <h4 id="logged-in-username">
              {{ person }}
              {% if person.is_owner == '사장님' %}
                <img src="{% static 'image/ceo.png' %}" alt="" class="user--icon">
              {% endif %}
            </h4>
            {% if request.user == person %}
              {% if person.is_owner == '사장님' %}
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSfBkmM_pvHuCUximGpTrWXB39N8hyZ2oTMqHH3vLaq6i92V8g/viewform?usp=sf_link" class="ceo--link">업체 등록 요청</a>
              {% endif %}
            {% endif %}
            <div class="d-flex">
              {% if request.user == person %}
                <a href="{% url 'accounts:update' %}" class="profile--card--btn">수정</a>
                <form action="{% url 'accounts:delete' %}" method="POST">
                  {% csrf_token %}
                  <input type="submit" class="profile--card--btn" value="탈퇴" onclick="return confirm('탈퇴 시, 더 이상 서비스를 이용하실 수 없습니다.\n정말 탈퇴하시겠습니까?')">
                </form> 
              {% endif %}
            </div>
          </div>
        </div>
      </div>


      {% comment %} 두번째 탭 {% endcomment %}
      <div class="profile--card card2">
        <div class="box2">
          <div class="visit--camp">
            <h3>방문한 캠핑장</h3>
            <div class="camp--content--box">
              {% for post in person.visit_posts.all|slice:":10" %}
                <div class="camp--content">
                  <a href="{% url 'posts:detail' post.pk %}">
                    <span>{{ forloop.counter }}.</span>
                    <span>{{ post.title }}</span>
                  </a>
                </div>
              {% empty %}
                <h3>방문한 캠핑장이 없습니다.</h3>
              {% endfor %} 
              {% if person.visit_posts.all|length > 10 %}
                <button type="button" class="btn btn-outline-secondary" type="button" data-bs-toggle="offcanvas" data-bs-target="#camp" aria-controls="offcanvasExample" id="visitbtn">
                  방문한 캠핑장 모두보기({{person.visit_posts.all|length}})
                </button>
              {% endif %}
            </div>
          </div>
          <div class="like--camp">
            <h3>선호 캠핑장 우선순위</h3>
            <div id="priorityList" data-detail-url="{% url 'posts:detail' 0 %}"></div>
            {% comment %} <div class="camp--content--box">
              {% for priority in priorities %}
              <div class="camp--content">
                <a href="{% url 'posts:detail' priority.post.pk %}">
                  <span>{{ forloop.counter }}.</span>
                  <span>{{ priority.post.title }}</span>
                </a>
              </div>
              {% empty %}
                <h3>우선순위가 없습니다.</h3>
              {% endfor %}
            </div> {% endcomment %}
          </div>
          <div class="write--camp">
            <h3>작성한 리뷰</h3>
              <div class="camp--content--box">
                {% for review in person.review_set.all|slice:":10"  %}
                  <div class="camp--content">
                    <a href="{% url 'reviews:detail' review.pk %}">
                      <span>{{ forloop.counter }}.</span>
                      <span>{{ review.title }}</span>
                    </a>
                  </div>
                {% empty %}
                  <h3>작성한 리뷰가 없습니다.</h3>
                {% endfor %}
                {% if person.review_set.all|length > 10 %}
                  <button type="button" class="btn btn-outline-secondary" type="button" data-bs-toggle="offcanvas" data-bs-target="#comment" aria-controls="offcanvasExample" id="visitbtn">
                    작성한 리뷰 모두보기({{person.review_set.all|length}})
                  </button>
                {% endif %}
              </div>
          </div>
        </div>
      </div>

      {% comment %} 세번째 탭 {% endcomment %}
      <div class="profile--card card3">
        <h2 class="schedule--title">앞으로의 남은 일정</h2>
        <button id="prevbtn" class="carousel--left"><</button>
        <div class="box3">
          <div class="box3--carousel">
            {% for schedule in schedules %}
            <div class="myschedule">
              <div class="d-flex justify-content-between">
                <p>일정: {{ schedule.start|date:"M d일" }} 부터  {{ schedule.end|date:"M d일" }} 까지</p>
                <a href="{% url 'schedules:delete' schedule.id %}" class="text-primary" onclick="return confirm('일정을 삭제하시겠습니까?')" ><i class="bi bi-trash3"></i></a>
              </div>
              <P><a href="{% url 'posts:detail' schedule.post.pk %}">장소: {{ schedule.title }}</a></P>
              {% if schedule.description %}
              <p>메모: {{ schedule.description }}</p>
              {% endif %}
            </div>
            {% endfor %}
          </div>
        </div>
        <button id="nextbtn" class="carousel--right">></button>
      </div>

      {% comment %} 네번째 탭 {% endcomment %}
      <div class="profile--card card4">
        <div class="box4 container">
          <div class="column box4--left" id="postdrop">
            <h3 class="priority-title">가보고 싶은 캠핑장</h3>
              {% for post in liked_posts %}
                <div class="list-group-item post-dropzone draggable el" draggable="true" data-post-id="{{ post.pk }}">
                  {{ post.title }}
                </div>
              {% endfor %}
            </div>
          <input type="hidden" id="user_id" value="{{ user.pk }}">
          <div class="column box4--left" id="prioritydrop" data-priority="0">
            <h2 class="priority-title">나의 우선순위</h2>
            {% comment %} {% for i in priority_range %} {% endcomment %}
              {% for priority in priorities %}
                {% comment %} {% if priority.priority == i %} {% endcomment %}
                  <div class="list-group-item priority-dropzone draggable el" draggable="true" data-post-id="{{ priority.post.pk }}">
                    {{ priority.post.title }}
                  </div>
                {% comment %} {% endif %} {% endcomment %}
              {% endfor %} 
            {% comment %} {% endfor %}  {% endcomment %}
          </div>
        </div>
      </div>
    </div>
  </div>

{% comment %} Modal창 구역 {% endcomment %}
<!-- 팔로워 Modal -->
<div class="modal fade" id="followersModal" tabindex="-1" aria-labelledby="followersModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content profile--modal--box">
      <div class="modal-header">
        <h1 class="modal-title fs-5"  id="followersModalLabel">팔로워</h1>
      </div>
      <div class="modal-body row" id = "f_follower_list">
        {% if request.user != person %}
          <div id="follower-list">
            <ul id="follower-ul"></ul>
          </div>
        {% else %}
          <ul id="follower-ul">
            {% for follower in followers %}
            <li class="follow--modal">
                <a href="{% url 'accounts:profile' follower.username %}">
                  {% if follower.image %}
                    <div class="profile--image rounded-circle">
                      <img src="{{ follower.image.url }}" alt="follower image" class="object-fit-fill profile">
                    </div>
                  {% else %}
                    <div class="profile--image rounded-circle">
                      <img src="{% static 'image/profile-none.png' %}" alt="follower image" class="object-fit-fill profile">
                    </div>
                  {% endif %}
                  {{ follower.username }}
                </a>
            </li>
            {% empty %}
            <p class="ms-2">팔로워가 없습니다.</p>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
      <div class="modal-footer">
        <button type="button" class="profile--followbtn" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- 팔로잉 Modal -->
<div class="modal fade" id="followingsModal" tabindex="-1" aria-labelledby="followingsModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content profile--modal--box">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="followingsModalLabel">팔로잉</h1>
      </div>
      <div class="modal-body row">
        {% if request.user != person %}
          <div id="following-list">
            <ul id="following-ul"></ul>
          </div>
        {% else %}
          <ul id="following-ul">
            {% for following in followings %}
            <li class="follow--modal">
                <a href="{% url 'accounts:profile' following.username %}">
                  {% if following.image %}
                    <div class="profile--image rounded-circle">
                      <img src="{{ following.image.url }}" alt="following image" class="object-fit-fill profile">
                    </div>
                  {% else %}
                    <div class="profile--image rounded-circle">
                      <img src="{% static 'image/profile-none.png' %}" alt="following image" class="object-fit-fill profile">
                    </div>
                  {% endif %}
                  {{ following.username }}
                </a>
            </li>
            {% empty %}
            <p class="ms-2">팔로잉이 없습니다.</p>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
      <div class="modal-footer">
        <button type="button" class="profile--followbtn" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{% comment %} offcanvas {% endcomment %}
<div class="offcanvas offcanvas-start" tabindex="-1" id="camp" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h3 class="offcanvas-title" id="offcanvasExampleLabel"style="color:rgba(245, 118, 8);">방문한 캠핑장</h3>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div>
      {% for post in person.visit_posts.all%}
        <div class="camp--content">
          <p>{{ forloop.counter }}.</p>
          <p><a href="{% url 'posts:detail' post.pk %}">{{ post.title }}</a></p>
        </div>
      {% empty %}
        <h3>게시글이 없습니다.</h3>
      {% endfor %} 
    </div>
  </div>
</div>

<div class="offcanvas offcanvas-end" tabindex="-1" id="comment" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h3 class="offcanvas-title" id="offcanvasExampleLabel"style="color:rgba(245, 118, 8);">작성한 리뷰</h3>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div>
      {% for review in person.review_set.all%}
        <div class="camp--content">
          <p>{{ forloop.counter }}.</p>
          <p><a href="{% url 'reviews:detail' review.pk %}">{{ review.title }}</a></p>
        </div>
      {% empty %}
        <h3>게시글이 없습니다.</h3>
      {% endfor %}
    </div>
  </div>
</div>


{% endblock content %}

{% block script %}
<script>
  const p_csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
  axios.defaults.headers.common['X-CSRFToken'] = p_csrftoken;
</script>
<script>
  (() => {
    axios.defaults.xsrfCookieName = 'csrftoken';
    axios.defaults.xsrfHeaderName = 'X-CSRFToken';
    const $ = (select) => document.querySelectorAll(select);
    const draggables = $('.draggable');
    const containers = $('.box4--left');
  
    draggables.forEach(el => {
      el.addEventListener('dragstart', () => {
          el.classList.add('dragging');
      });
  
      el.addEventListener('dragend', () => {
          el.classList.remove('dragging');
          // 드랍 이벤트 발생 후 좋아요 리스트와 우선순위 리스트 업데이트
          updateLists();
      });
    });
  
    function getDragAfterElement(container, y) {
      const draggableElements = [...container.querySelectorAll('.draggable:not(.dragging)')];
  
      return draggableElements.reduce((closest, child) => {
          const box = child.getBoundingClientRect();
          const offset = y - box.top - box.height / 2;
          if (offset < 0 && offset > closest.offset) {
            return { offset: offset, element: child };
          } else {
            return closest;
          }
      }, { offset: Number.NEGATIVE_INFINITY }).element;
    }
  
    function updateLists() {
      const likedPosts = [];
      const priorityPosts = [];
  
       // 좋아요 리스트 업데이트
      const likedContainer = document.getElementById('postdrop');
      likedContainer.querySelectorAll('.draggable').forEach(el => {
          likedPosts.push(parseInt(el.getAttribute('data-post-id')));
      });
  
       // 우선순위 리스트 업데이트
      const priorityContainer = document.getElementById('prioritydrop');
      priorityContainer.querySelectorAll('.draggable').forEach((el, index) => {
          const postId = parseInt(el.getAttribute('data-post-id'));
          const priority = index + 1;
          priorityPosts.push({ postId, priority });
          getPriorityList()
      });

       // 좋아요 리스트와 우선순위 리스트를 서버로 전송하여 저장
      const userId = document.getElementById('user_id').value;
      saveListsToServer(userId, likedPosts, priorityPosts);
    }

    function saveListsToServer(userId, likedPosts, priorityPosts) {
      // 좋아요 리스트와 우선순위 리스트를 서버로 전송하여 저장
      const url = '/posts/update_priority_lists/'; 
      axios.post(url, {
        userId: userId, 
        likedPosts: likedPosts,
        priorityPosts: priorityPosts,
      },{
      headers: {
        'Content-Type': 'application/json'}
      })
        .then(response => {
          console.log(response.data);
        })
        .catch(error => {
        });
    }

    containers.forEach(container => {
      container.addEventListener('dragover', e => {
      e.preventDefault();
      const afterElement = getDragAfterElement(container, e.clientY);
      const draggable = document.querySelector('.dragging');
      container.insertBefore(draggable, afterElement);
      });
    });
  })
  ();

</script>


<script>
  function getPriorityList() {
    const priorityList = document.getElementById("priorityList");
    const detailUrl = priorityList.dataset.detailUrl;
    axios.get("/accounts/priority_list/")
      .then(response => {
        const data = response.data;
        if (data.length > 0) {
          let html = "";
          for (let i = 0; i < data.length; i++) {
            const priority = data[i];
            const url = detailUrl.replace("0", priority.post.pk);
            html += `<div class="camp--content">
                      <a href="${url}" style="margin-bottom:10px;">
                        <span>${i + 1}.</span>
                        <span>${priority.post.title}</span>
                      </a>
                    </div>`;
          }
          priorityList.innerHTML = html;
        } else {
          priorityList.innerHTML = "<h3>우선순위가 없습니다.</h3>";
        }
      })
      .catch(error => {
        console.error(error);
      });
  }
  
  // 페이지 로드 시 우선순위 목록 가져오기
  getPriorityList();
</script>

<script src="{% static '/js/follow.js' %}" type="text/javascript"></script>
<script src="{% static '/js/profile.js' %}" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.14.0/Sortable.min.js" integrity="sha512-zYXldzJsDrNKV+odAwFYiDXV2Cy37cwizT+NkuiPGsa9X1dOz04eHvUWVuxaJ299GvcJT31ug2zO4itXBjFx4w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

{% endblock script %}