{% extends 'base.html' %} 
{% load static %}
{% block title %}캠핑가조 : 회원가입{% endblock title %} 
{% block style %}{% endblock style %}
{% block head %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock head %}
{% block content %}
<h4>회원가입</h4>
<form action="{% url 'accounts:signup' %}" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="text" id="s_address" placeholder="주소" name="address">
  <input type="button" onclick="search_address()" value="주소 검색"><br>
  <input type="submit" value="회원가입">
</form>
{% endblock content %}
{% block script %}
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script src="{% static '/js/accounts_signup.js' %}" type="text/javascript"></script>
{% endblock script %}