{% extends 'base.html' %} 
{% load static %}
{% block title %}캠핑가조 : 회원정보 수정{% endblock title %} 
{% block style %}{% endblock style %}
{% block head %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock head %}
{% block content %}
<h4>회원정보 수정</h4>
<form
  action="{% url 'accounts:update' %}"
  method="post"
  enctype="multipart/form-data"
>
  {% csrf_token %}
  {% if user.profile_image %}
  <img
    class="p-1 rounded-circle"
    src="{{ user.profile_image.url }}"
    alt="profile_image"
    style="width: 140px; height: 140px"
  />
  {% else %}
  <img
    class="p-1 rounded-circle"
    src="{% static 'image/blank-profile-image.png' %}"
    class="img-fluid"
    style="width: 140px; height: 140px"
    alt="blank-profile-image"
  />
  {% endif %}
  {{ form.as_p }}
  <a href="{% url 'accounts:change_password' %}" class="btn btn-primary"
    >비밀번호 변경</a
  >
    <input
      type="submit"
      class="btn btn-outline-info"
      value="변경사항 저장"
    >
    </input>
</form>
<form action="{% url 'accounts:delete' %}" method="POST" id="delete">
  {% csrf_token %}
  <input
    class="btn btn-outline-danger"
    onclick="confirmDelete(event)"
    type="submit"
    value="회원 탈퇴"
  >
  </input>
</form>
{% endblock content %}
{% block script %}
<script src="{% static 'js/update_01.js' %}"></script>
<script src="{% static 'js/update_02.js' %}"></script> 
{% endblock script %}
