{% extends 'base.html' %} 
{% load static %}
{% block title %}캠핑가조 : 회원정보 수정{% endblock title %} 
{% block style %}{% endblock style %}
{% block head %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock head %}
{% block content %}
<h4>회원정보 수정</h4>
<form action="{% url 'accounts:update' %}" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  {% endif %}
  {{ form.as_p }}
  <input type="text" id="sample5_address" placeholder="주소" name="address">
  <input type="button" onclick="sample5_execDaumPostcode()" value="주소 검색"><br>
  <input type="submit" value="Save">
  <a href="{% url 'accounts:change_password' %}">비밀번호 변경</a>
  <input type="submit" value="Back" onclick=window.history.back()>
</form>

{% endblock content %}
{% block script %}
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
  function sample5_execDaumPostcode() {
    new daum.Postcode({
      oncomplete: function(data) {
        const addr = data.address;
        document.getElementById("sample5_address").value = addr;

      }
    }).open();
  }
</script>
{% endblock script %}
