{% extends 'base.html' %}
{% load static %}
{% block head %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/message.css' %}">
{% endblock head %}

{% block content %}
<div class="message">
  <h2>쪽지보내기</h2>
  <div class="d-flex flex-column justify-content-center align-items-center">
    <form method="POST">
      {% csrf_token %}
      <div class="message--title" style="text-align:start; margin-left:0;">받는이 : {{ form.receiver }}</div>
      {{ form.content }}
      <button type="submit" class="message--btn--submit">Send</button>
    </form>
  </div>
</div>
{% endblock %}