<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>5GO Camping</title>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
  <link rel="icon" href="{% static 'image/camp_favicon.png' %}">
</head>
<body>
  <header>
    <div id="backGround">
      {% comment %} top content {% endcomment %}
      <div class="topbar">
        {% comment %} logo {% endcomment %}
        <div class="logo">
          <a href="{% url 'main' %}"><img src="{% static 'image/logo.png' %}" alt=""></a>
        </div>
        <div class="tap">
          {% comment %} header 상단 {% endcomment %}
          <div class="nav--accounts">
            <a href="{% url 'main' %}">Home</a>
            {% if request.user.is_authenticated %}
              <span style="color:white;"><a href="{% url 'accounts:profile' user %}">{{ user }}{{ request.user.is_owner}} 안녕하세요!</a></span>
              <a href="{% url 'accounts:logout' %}">Logout</a>
            {% else %}
              <a href="{% url 'accounts:signup' %}">Join</a>
              <a href="{% url 'accounts:login' %}">Login</a>
            {% endif %}
          </div>
          {% comment %} Tap {% endcomment %}
          <div class="category">
            <a href="">전체</a>
            <a href="">오지/노지캠핑</a>
            <a href="">유료캠핑장</a>
            <a href="">글램핑/카라반</a>
            <a href="">테마검색</a>
            <a href="{% url 'sales' %}">캠핑용품추천</a>
          </div>
        </div>
      </div>

      {% comment %} search {% endcomment %}

      <div class="search--box">
        <form action="{% url 'posts:search' %}" class="search">
          {% csrf_token %}
            <input type="search" placeholder='   캠핑장 검색' name='q' style="padding-left:10px;">
            <button class="search--btn" type="submit">
              <i class="bi bi-search"></i>
            </button>
        </form>
      </div>

      {% comment %} post count {% endcomment %}
      {% comment %} 추후 카운트, 넓이계산식, 링크 넣어야함 {% endcomment %}

      <div class="post--count">
        <a href="">
          <div class="allcnt">
            <div class="all--posts">
              2,587 
            </div>
            <div class="count--txt">
              전체
            </div>
          </div>
        </a>
        <a href="">
          <div class="back">
            <img src="{% static 'image/outdoor.png' %}" alt="">
            <div class="front" style="width:60%;">
              <img src="{% static 'image/outdoor_orange.png' %}" alt="">
            </div>
            <div class="count--txt">
              오지/노지캠핑
            </div>
          </div>
        </a>
        <a href="">
          <div class="back">
            <img src="{% static 'image/paycamp.png' %}" alt="">
            <div class="front" style="width:80%;">
              <img src="{% static 'image/paycamp_purple.png' %}" alt="">
            </div>
            <div class="count--txt">
              유료캠핑장
            </div>
          </div>
        </a>
        <a href="">
          <div class="back">
            <img src="{% static 'image/caravan.png' %}" alt="">
            <div class="front" style="width:30%;">
              <img src="{% static 'image/caravan_blue.png' %}" alt="">
            </div>
            <div class="count--txt">
              글램핑/카라반
            </div>
          </div>
        </a>
      </div>
    
      <a data-anchor="map" class='gomap'>지역별<i class="bi bi-caret-down"></i></a>
        
    </div>
  </header>
  <main>
    <div class='banner'>

      {% comment %} 날씨 {% endcomment %}
      <div class="d-flex align-items-center mx-auto">
        <div class="weather--img" style="background-image: url('{{ icon }}');"></div>
        <div class="weather--box">
          <div class="weather">
            <span>온도:{{ temp }}°C</span>
            <span>습도: {{ humidity }}%</span>
            <span>미세먼지: {{ fine_dust }}</span>
            <span>초미세먼지: {{ ultrafine_dust }}</span>
          </div>
        </div>
        <div class="d-flex flex-column align-items-center">
          <form action="{% url 'main' %}" method="GET">
            <div class="selectBox">
              <select name="city" class="select" id="city" onchange="this.form.submit()">
                {% for city in cities %}
                  <option value="{{ city.value }}" {% if selected_city == city.value %}selected{% endif %}>{{ city.name }}</option>
                {% endfor %}
              </select>
            </div>
          </form>
          <span class="weather--title">{{ weather }}</span>
        </div>
      </div>

      {% comment %} 배너 {% endcomment %}
      <div class="camver">
        <a href="http://www.camver.co.kr/"><img src="{% static 'image/camver banner.jpg' %}" alt=""></a>
      </div>
    </div>

    {% comment %} map {% endcomment %}
    <div id="map" class=""> 
      <div class="map--site">
        <div class="map--img">
          <div class="map--title">
            Camping <span>Map</span>
          </div>
          <div class="mapwrap"><img src="/static/image/kmap.gif" alt="" usemap="#campMap" id="Map">
            <map name="campMap" id="campMap">
            <area shape="poly" onfocus="this.blur()" coords="49,59,51,58,56,55,69,46,78,75,66,75,49,74,51,68,48,59" href="javascript:;" alt="서울" class="kmap_02" onclick="sido('서울','','')">
            <area shape="poly" onfocus="this.blur()" coords="47,45,47,45,47,39,51,36,51,29,65,14,80,28,89,34,96,41,93,45,95,59,105,71,102,82,103,88,101,95,85,100,75,105,52,99,45,91,42,83,46,74,79,74,68,46,49,59,43,55,43,47" href="javascript:;" alt="경기" class="kmap_031" onclick="sido('경기','','')">
            <area shape="poly" onfocus="this.blur()" coords="15,53,28,41,42,51,44,58,47,63,51,71,46,73,34,73,22,60,22,54" href="javascript:;" alt="인천" class="kmap_032" onclick="sido('인천','','')">
            <area shape="poly" onfocus="this.blur()" coords="66,17,92,16,103,17,110,9,128,15,140,1,137,10,159,43,189,91,161,92,142,105,136,93,133,89,125,85,104,93,105,72,98,63,113,59,95,64,91,49,100,40,83,32,78,25,86,27" href="javascript:;" alt="강원" class="kmap_033" onclick="sido('강원','','')">
            <area shape="poly" onfocus="this.blur()" coords="40,84,26,101,14,116,26,125,23,131,29,138,34,137,38,145,37,148,37,158,49,164,61,159,62,152,76,154,74,146,72,132,76,126,71,118,78,106,56,100,48,100" href="javascript:;" alt="충남" class="kmap_041" onclick="sido('충남','','')">
            <area shape="poly" onfocus="this.blur()" coords="90,133,72,146,74,153,97,165,91,145,93,133" href="javascript:;" alt="대전" class="kmap_042" onclick="sido('대전','','')">
            <area shape="poly" onfocus="this.blur()" coords="139,97,130,122,121,124,108,134,110,141,114,145,116,153,110,168,99,168,96,160,94,152,92,141,94,125,82,104,91,100,117,84,133,90" href="javascript:;" alt="충북" class="kmap_043" onclick="sido('충북','','')">
            <area shape="poly" onfocus="this.blur()" coords="185,93,169,90,153,94,145,105,135,105,124,118,118,126,111,133,109,142,118,154,109,170,120,175,130,180,140,152,162,164,149,190,154,194,178,179,195,183,189,140,192,109,189,98,179,87" href="javascript:;" alt="경북" class="kmap_054" onclick="sido('경북','','')">
            <area shape="poly" onfocus="this.blur()" coords="147,189,127,188,131,185,132,166,138,149,164,164,145,191" href="javascript:;" alt="대구" class="kmap_053" onclick="sido('대구','','')">
            <area shape="poly" onfocus="this.blur()" coords="167,187,155,195,185,210,195,181,175,181,166,186" href="javascript:;" alt="울산" class="kmap_052" onclick="sido('울산','','')">
            <area shape="poly" onfocus="this.blur()" coords="177,201,135,226,137,230,155,243,183,220,182,211" href="javascript:;" alt="부산" class="kmap_051" onclick="sido('부산','','')">
            <area shape="poly" onfocus="this.blur()" coords="106,172,97,179,93,200,99,218,102,226,110,249,139,247,155,244,139,233,137,223,174,202,159,196,148,188,124,180,107,171" href="javascript:;" alt="경남" class="kmap_055" onclick="sido('경남','','')">
            <area shape="poly" onfocus="this.blur()" coords="42,160,49,164,59,154,74,152,85,160,109,169,95,182,93,208,76,210,55,198,45,199,33,203,35,189,41,176,45,171,41,168,41,161" href="javascript:;" alt="전북" class="kmap_063" onclick="sido('전북','','')">
            <area shape="poly" onfocus="this.blur()" coords="1,274,9,284,26,274,33,268,47,275,64,275,77,271,91,262,92,255,107,252,104,230,96,209,76,211,55,198,26,205,38,217,63,210,69,221,65,230,53,230,44,228,43,221,29,206,7,217,8,233,3,252,1,269" href="javascript:;" alt="전남" class="kmap_061" onclick="sido('전남','','')">
            <area shape="poly" onfocus="this.blur()" coords="44,214,40,218,41,224,47,227,65,230,69,218,58,208,43,213" href="javascript:;" alt="광주" class="kmap_062" onclick="sido('광주','','')">
            <area shape="poly" onfocus="this.blur()" coords="17,306,26,296,46,289,61,292,52,308,42,312,23,313,17,307" href="javascript:;" alt="제주" class="kmap_064" onclick="sido('제주','','')">
            <area shape="poly" onfocus="this.blur()" coords="80,101,73,118,77,125,73,135,74,144,93,136,93,124" href="javascript:;" alt="세종" class="kmap_044" onclick="sido('세종','','')">
            </map>
          </div>
        </div>
        <div>
          콘텐츠
        </div>
      </div>
    </div>

  </main>
  <footer>
    <img src="{% static 'image/logo_black.png' %}" alt="">
    <div>
      개인정보취급방침 | 홈페이지 이용약관 | 광고 및 제휴문의 | 고객센터 | 회원가입 | 로그인
      <p>Copyright © 2023 5gocamping.캠핑가조 All rights reserved.</p>
      <p>https://github.com/Camping-PJT/2nd</p>
    </div>
  </footer>

  <script src="{% static 'js/main_page.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/main.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/main_map.js' %}" type="text/javascript"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</body>
</html>