{% extends "base.html" %}
{% load static %}
{% block title %}
Post Create
{% endblock title %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/accounts.css' %}"> 
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock head %}

{% block content %}
<div class="accounts--box">
  <h1>게시글 작성</h1>

  <form action="{% url 'posts:create' %}" method='POST' enctype='multipart/form-data'>

    {% csrf_token %}
    <p>{{ post_form.title }}</p>
    <p>{{ post_form.content }}</p>
    <p>{{ post_form.phone }}</p>
    <div class="d-flex gap-2">
    <p>{{ post_form.open_hour}}</p>
    <p>{{ post_form.close_hour}}</p>
    </div>
    <p class="label--box">{{ post_form.category.label}}</p><p class="label--box">{{ post_form.nature.label}}</p>
    <div class="d-flex gap-2">
      <p>{{ post_form.category }}</p>
      <p>{{ post_form.nature }}</p>
    </div>
    <span>{{ post_form.tags.label }}</span>
    <p>{{ post_form.tags }}</p>
    {{ facility_form }}
    {{ image_form.as_p }}
    <div class="address--box">
      <input type="text" id="s_address" placeholder="주소" name="address" class="form-address">
      <input type="button" onclick="search_address_map()" value="주소 검색" class="address--btn">
    </div>
    <div id="map" style="width:400px; height:300px; display:none; margin-top:20px"></div>
    <div class="btn--box">
      <input type="submit" value="등록" class="accounts--btn">
      <input type="submit" value="뒤로가기" onclick=window.history.back() class="accounts--btn">
    </div>
  </form>
</div>
{% endblock content %}

{% block script %}
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey={{ kakao_script_key }}&libraries=services"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script src="{% static '/js/posts_create.js' %}" type="text/javascript"></script>

{% endblock script %}