{% extends "base.html" %}
{% load static %}
{% block title %}
Post Create
{% endblock title %}

{% block style %}
<style>

</style>
{% endblock style %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/posts_create.css' %}">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock head %}

{% block content %}
<h1>게시글을 작성해주세요!</h1>

<form action="{% url 'posts:create' %}" method='POST' enctype='multipart/form-data'>
  <input type="text" id="sample5_address" placeholder="주소" name="address">
  <input type="button" onclick="sample5_execDaumPostcode()" value="주소 검색"><br>
  <div id="map" style="width:300px; height:300px; display:none"></div>
  {% csrf_token %}
  {{ post_form.as_p }}
  {{ facility_form }}
  {{ image_form.as_p }}
  <input type="submit" value="등록">
  <input type="submit" value="뒤로가기" onclick=window.history.back()>
</form>
{% endblock content %}

{% block script %}
<script src="https://dapi.kakao.com/v2/maps/sdk.js?appkey={{ kakao_script_key }}&libraries=services"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
  const mapContainer = document.getElementById('map');
  const mapOption = {
    center: new daum.maps.LatLng(37.537187, 127.005476),
    level: 3
  };
  
  const map = new daum.maps.Map(mapContainer, mapOption);
  const geocoder = new daum.maps.services.Geocoder();
  const marker = new daum.maps.Marker({
    position: new daum.maps.LatLng(37.537187, 127.005476),
    map: map
  });
  
  function sample5_execDaumPostcode() {
    new daum.Postcode({
      oncomplete: function(data) {
        const addr = data.address;
        document.getElementById("sample5_address").value = addr;

        const addrParts = addr.split(' ');
        const addressPrefix = addrParts[0]; // 주소 앞부분

        document.getElementById("id_city").value = addressPrefix;

        geocoder.addressSearch(data.address, function(results, status) {
          if (status === daum.maps.services.Status.OK) {
            const result = results[0];
            const coords = new daum.maps.LatLng(result.y, result.x);
            mapContainer.style.display = "block";
            map.relayout();
            map.setCenter(coords);
            marker.setPosition(coords);
          }
        });
      }
    }).open();
  }
  
</script>


{% endblock script %}