{% extends 'base.html' %} 
{% block title %}{% endblock title %} 
{% load static %}
{% block head %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.6.0/css/bootstrap.min.css">
{% endblock head %}
{% block content %}
<meta charset='utf-8' />
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src='{% static "js/index.global.js" %}'></script>
<script>
document.addEventListener('DOMContentLoaded', function() {
  var calendarEl = document.getElementById('calendar');
  var calendar = new FullCalendar.Calendar(calendarEl, {
    locale: 'ko',
    // droppable: true, 
    // editable: true,
    businessHours: true,
    dayMaxEvents: true, 
    events: function(info, successCallback, failureCallback) {
      // AJAX 요청을 통해 서버에서 데이터를 가져옴
      $.ajax({
        url: '/schedules/get_schedule_data/',
        type: 'GET',
        dataType: 'json',
        success: function(response) {
          // 가져온 데이터를 이벤트 목록에 추가
          var events = response.map(function(schedule) {
            return {
              title: schedule.title,
              start: schedule.start,
              end: schedule.end,
              // allDay: true, 
            };
          });
          successCallback(events);
        },
        error: function(xhr, status, error) {
          failureCallback(xhr, status, error);
        }
      });
    },
    eventClick: function(info) {
      if (info.event.url) {
        window.location.href = info.event.url;
      }
    }
  });
  calendar.render();
});
</script>

<div class="p-5">

  <!-- 진짜 달력 본체 -->
  <div id='calendar'></div>

  <hr>
  <form method="POST" action="{% url 'schedules:create' %}">
  {% csrf_token %}
  <label for="post">캠핑 장소:</label>
  <select name="post_id" id="post">
    {% for post in posts %}
    <option value="{{ post.id }}">{{ post.title }}</option>
    {% endfor %}
  </select>
  <label for="start">시작일:</label>
  <input type="datetime-local" name="start" id="start">
  <label for="end">종료일:</label>
  <input type="datetime-local" name="end" id="end">
  <label for="description">메모:</label>
  <input type="textarea" name="description" id="description">
  <input type="submit" value="일정 생성">
  </form>
  <hr>

  <ul style="list-style-type: none; padding: 0; margin: 0;">
    {% for schedule in schedules %}
    <li>
      <a href="{% url 'posts:detail' post_pk=schedule.post.pk %}"><span>{{ schedule.title }}</span></a>
      <span>{{ schedule.start|date:"m월 d일" }}</span>~
      <span>{{ schedule.end|date:"m월 d일" }}</span>
  
      <!-- Button trigger modal -->
      <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal{{ schedule.id }}">일정 변경</button>
      <a href="{% url 'schedules:delete' schedule.id %}">삭제</a>
  
      <!-- Modal -->
      <div class="modal fade mt-5" id="exampleModal{{ schedule.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">일정 변경</h1>
            </div>
            <div class="modal-body">
              <form method="POST" action="{% url 'schedules:update' schedule.id %}">
                {% csrf_token %}
                <p>
                  <label for="post">캠핑 장소:</label>
                  <select name="post_id" id="post">
                    {% for post in posts %}
                    <option value="{{ post.id }}" {% if post.id == schedule.post.id %}selected{% endif %}>{{ post.title }}</option>
                    {% endfor %}
                  </select>
                </p>
                <p>
                  <label for="start">시작일:</label>
                  <input type="datetime-local" name="start" id="start" value="{{ schedule.start|date:'Y-m-d\TH:i' }}"> 
                </p>
                <p>
                  <label for="end">종료일:</label>
                  <input type="datetime-local" name="end" id="end" value="{{ schedule.end|date:'Y-m-d\TH:i' }}">
                </p>
                <p>
                  <label for="description">메모:</label>
                  <input type="textarea" name="description" id="description" value="{{ schedule.description }}">
                </p>
                <div class="modal-footer">
                  <input type="submit" class="btn btn-primary" value="일정 변경">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </li>  
    {% endfor %}
  </ul>
</div>

{% endblock content %}
{% block script %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.6.0/js/bootstrap.min.js"></script>
{% endblock script %}