{% extends 'base.html' %}
{% block title %}{% endblock title %} 
{% load static %}
{% block head %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.6.0/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="{% static 'js/posts_detail_map.js' %}" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/schedule_detail.css' %}"> 
{% endblock head %}
{% block content %}

<div class="detail--header">
  <div class="detail--title">
    <h2>내 일정</h2>
    캠핑 장소: <a href="{% url 'posts:detail' post_pk=schedule.post.pk %}">{{ schedule.title }}</a>
    <div class="detail--rating">
      <i class="bi bi-star-fill"></i> 
      {{ schedule.post.rating }}
    </div>
  </div>
  <div class="detail--tags">
    <div class="tag--title">
      #태그
    </div>
    {% for tag in schedule.post.tags.all %}
      <a href="{% url 'posts:tagged_posts' tag.pk %}">#{{ tag.name }}</a>
    {% endfor %} 
  </div>
  <div class="btn--box">
    <a href="" onclick="copy_trackback(this.href); return false;" class="icon-btn"><i class="bi bi-link-45deg"></i></a>
    <a href="" onclick="printThis(); return false;" class="icon-btn"><i class="bi bi-printer"></i></a>
    <button class="icon-btn map-btn" id="map-btn" style="border:none;"><i class="bi bi-arrow-90deg-right"></i></button>
  </div>
</div>




<p>동행자 : 
  {% for participant in participants %}
    {{participant}}
  {% endfor %}
</p>
<p>시작일: {{ schedule.start }}</p>
<p>종료일: {{ schedule.end }}</p>
<p>메모: {{ schedule.description }}</p>
<p class="map m-0 p-0" id="map" style="width:400px; height:400px;" data-longitude="{{ longitude }}" data-latitude="{{ latitude }}"></p>
<a href="" onclick="printThis(); return false;" class="icon-btn"><i class="bi bi-printer"></i></a>




{% endblock content %}
{% block script %}
<script src='{% static "js/index.global.js" %}'></script>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey={{ kakao_script_key }}&libraries=services"></script>
<script>
  function copy_trackback(url) {
    var tempInput = document.createElement('input');
    tempInput.value = url;
    document.body.appendChild(tempInput);
    tempInput.select();
    document.execCommand('copy');
    document.body.removeChild(tempInput);
    alert('URL이 복사되었습니다.');
  }
  
  function printThis() {
    window.print();
  }
</script>
<script>
  window.addEventListener('DOMContentLoaded', function() {
      const longitude = document.getElementById('map').getAttribute('data-longitude');
      const latitude = document.getElementById('map').getAttribute('data-latitude');
      const container = document.getElementById('map');
      const options = {
          center: new kakao.maps.LatLng(latitude, longitude),
          level: 3
      };
      const map = new kakao.maps.Map(container, options);
      const markerPosition = new kakao.maps.LatLng(latitude, longitude);
      const marker = new kakao.maps.Marker({
          position: markerPosition
      });
      marker.setMap(map);
  });
  </script>
{% endblock script %}
